.container {
    width: 1150px;
    margin: 0 auto;
}

header {
    background: linear-gradient(#0000005C), url("../images/bgimg.jpg") top center/cover;
    height: 100vh;
}

.fixed-nav {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}